* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
display: flex;
justify-content: space-around;
align-items: center;
height: 65px;
background-color: white;
padding-top: 3em;
}


.nav-links {
display: flex;
/* justify-self: flex-end; */
list-style-type: none;
width: 75%;
}

.Locations,
.Home,
.Contact {
text-decoration: none;
font-size: 20px;
padding: 10px 20px;
margin: 0 10px;
cursor: pointer; 
white-space: nowrap;
}


.mobile-menu-icon {
display: none;
}

@media screen and (max-width: 768px) {

.navbar {
  justify-content: space-between;
}

.Navbar-Logo {
display: flex;
width: 20em;
align-self: flex-start;
margin-left: 1em;
/* position: absolute; */
/* top: 15px;
left: 35px; */
/* justify-content: flex-start; */
}

.Navbar-Logo {
  width: 15em;
}

.nav-links {
display: none;
}

.nav-links-mobile {
position: absolute;
display: block;
list-style-type: none;
background-color: black;
left: 0;
top: 7em;
transition: all 0.5s ease-out;
width: 100%;
z-index: 44;
padding-left: 2em;
}

.Locations,
.Home,
.Contact {
  color: white;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-size: 25px;
}

.mobile-menu-icon {
  display: flex;
  font-size: 30px;
  color: black;
  background-color: red;
  border: none;
  outline: none;
  font-size: 1.7em;
  width: 0em;
  margin-right: 2em;
}

}
