@media (min-width: 320px) {

    .Desktop__Image__Design__Text{
     display: none;
    }    
}
 
@media(min-width: 1281px) {
    .Desktop__Image__Design__Text {
         display: block;
         position: relative;
         /* margin-top: -10em; */
         bottom: 10em;
         left: 40%;
         /* color: #FFFFFF; */
       } 

    }