 /* @media (min-width: 1025px) {

    #MapImageCanada,
    #MapImageUK
     {
        margin-left: 50%;
    }

    #MapImageCanada {
        margin-top: 2em;
    }

    #MapImageAustralia {
       margin-right: 50%;
   
    }
    #MapImageAustralia img {
        
        margin-top: 2em;
    }

        .Map__Images {
          margin-top: -31em;
        } 

        .Map__Images:nth-child(2) {
            margin-top: -5em;
        }
      
        .Map_Images_Right {
          margin-left: -26em;
        } */
/* 
        .DDAIFD {
            margin-left: 13%;
            margin-top: -11%;
        } */

        
    
/* 
        .Map__Images:nth-child(even){
            margin-right: 15em;
        } */
      /* } */