 @media (min-width: 1025px) {

    #MapImageCanada,
    #MapImageUK
     {
        margin-left: 50%;
    }

    #MapImageAustralia {
       margin-right: 50%;
   
    }

 

        .Map__Images {
          margin-top: -31em;
        } 
      
        .Map_Images_Right:nth-child(even) {
          margin-left: -26em;
        }

   
/* 
        .Map__Images:nth-child(even){
            margin-right: 15em;
        } */
      }