#MapImageCanada {
    margin-top: 4em;
}




@media (min-width: 1025px) {

 
/* img:nth-child(1) {
          float: right;
      }   */

      /* img:nth-child(even) {
        float: left;
    }   */
  }