
  .Map__Images__Container {
    background-color: #fdf3f0;
    margin-top: -2.4em;
    margin-bottom: -2em;
    display: flex;
    flex-direction: column;  
    padding-top: 5em; 
    padding-bottom: 5em;
    text-align: center;
  }

  .Country {
    margin-bottom: 0.8em;
    color: #e7816b;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .Contact-Desc {
    margin-top: 1.4em;
  }


@media (min-width: 768px) {

   .Map_Desc_Images {
    margin-bottom: 6em;
  }
  .Map__Images__Container{
    text-align: left;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 15px;
    margin-top: 1px; 
    }

  .Contact-Desc {
    margin-top: 3.9em;
  }

}

@media (min-width: 1200px) {

  .Map__Images__Container{
    margin-top: -35px; 
    }
}