  .Map__Images {
    background-color: #fdf3f0;
    margin-top: -8.5em;
    padding-bottom: 6em;
  }

  .Map__Images__Container {
    text-align: center;
    margin-top: 7em;
    padding-top: 5em;
  }

  .Country {
    margin-bottom: 0.8em;
    color: #e7816b;
  }

  p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  .Contact-Desc {
    margin-top: 1.4em;
  }


@media (min-width: 600px) {
  .Map__Images {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4.5em;
  }

  .Map_Images_Left {
    position: absolute;
    float: left;
    margin-left: 3em;
  }

  .Map_Images_Right {
    margin-top: 3.9em;
    margin-left: 6em;
  }
}

@media (min-width: 1025px) {
  /* .Map__Images {
    margin-top: -31em;
  } 

  .Map_Images_Right {
    margin-left: -26em;
  } */
}
