/* phones */

@media (min-width: 320px) {
  .Home__MobileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__Tablet {
    display: none;
  }

 
}

/* tablets */
@media (min-width: 600px) {
  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }

  .Home__Tablet {
    display: inline;
    margin-bottom: -15em;
  }
}

@media (min-width: 801px) {
  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }
 
}
  @media (min-width: 1281px) {
    .Home__TabletImg {
      display: none;
    }
  
      
  }




