/* phones */

  .Home__MobileImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(50%);
    border-radius: 15px;
    
  }

  .Home__Tablet {
    display: none;
  }



/* tablets */
@media (min-width: 768px) {

.Home__Desktop__Images {
  margin-top: 10em;
}

  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }

  .Home__Tablet {
    display: inline;
    margin-bottom: -15em;
  }
}

@media (min-width: 801px) {
  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }
 
}
  @media (min-width: 991px) {
    .Home__TabletImg {
      display: none;
    }
  
      
  }




