@media (min-width: 320px) {
  .Body {
    background-color: #e7816b;
    height: 70em ;
   
  }

  .Body__Header {
    padding-top: 4em;
    margin-top: 1.5em;
    text-align: center;
    color: #ffffff;
  }

  .Body__Paragraph {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
  }

  .Body__Button {
    margin-top: 1.8em;
    text-align: center;
    width: 22%;
    padding: 1em;
    margin-left: 40%;
  }

  /* .Home__Desktop {
    display: none;
  }

  .Home__Tablet {
    display: none;
  }  */
  
  /* figure {

    overflow: hidden;
    margin: 0;
  }

  figure img {
    display: block;
    width: 100%;
  }

  .Phone img {
    margin: -22% 0;
  }  */
}

@media (min-width: 600px) {
  .Body {
    /* width: 40em; */
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-bottom: 5em;
  }

  /* .Home__Mobile {
    display: none;
  }

  .Home__Tablet {
    display: block;
  } */
}


@media (min-width:801px) {

  .Body {
    height: 50em;
  }

  .Body__Header {
   margin-right: 70%;
   font-size: 30px;
  }

  .Body__Paragraph {
    margin-right: 70%;

  }

  .Body__Button {
    display: none;
  }

  .Phone {
    position: relative;
    left: 20%;
    top: -40%;
  }

}


@media (min-width:1281px) {
  /* .Home__Desktop {
    display: block;
  }

    .Home__Tablet {
      display: none;
  }

  .Home__Mobile {
    display: none;
} */
}