
  .Body {
    background-color: #e7816b;
    height: 70em ;
    margin-bottom: 8em;
  }

  figure img {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }


  .Home__Phone__Image {
    position: relative;
    right: 4em;
    bottom: 2em;
  }

  .Body__Header {
    padding-top: 2em;
    margin-top: 1.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    font-size: 30px;
    font-weight: 500;
  }

  .Body__Paragraph__Mobile {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
  }

  .Body__Paragraph__Tablet {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    display: none;
  }

 
  .Body__Paragraph__Desktop {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    display: none;
  }

  /* .Body__Button {
    top: 2em;
    width: 14em;
    height: 4em; 
    left: 10em;
    border-radius: 10px;
    
  }

  .Material__Ui__Button__HomePage {
    display: block;
  align-items: center;
  justify-content: center;
  } */

.Home__Page__Button__Container {
  display: flex;
  align-items: center;
  justify-content: center; 
}

  .HomePage__Button {
    max-width: 13em;
    height: 3.5em;
    border-radius: 6px;
    background-color: #ffffff;
    color: black;
    border: #ffffff;
  }


  /* .Home__Desktop {
    display: none;
  }

  .Home__Tablet {
    display: none;
  }  */
  
  /* figure {

    overflow: hidden;
    margin: 0;
  }

  figure img {
    display: block;
    width: 100%;
  }

  .Phone img {
    margin: -22% 0;
  }  */


 @media (min-width: 600px) { 
 

  .Body {
    /* width: 40em; */
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    margin-bottom: 5em;
  }

  .Home__Phone__Image {
    right: 0;
    bottom: 2em;

  }

  .Body__Paragraph__Mobile {
    display: none;
  }

  .Body__Paragraph__Tablet {
    display: block;
  }

  
  /* .Body__Button {
  
    left: 21em;
    width: 25%;

  } */

  /* .Home__Mobile {
    display: none;
  }

  .Home__Tablet {
    display: block;
  } */
}


@media (min-width:801px) {
/* 
  .Body {
    height: 50em;
  }

  .Body__Header {
   margin-right: 70%;
   font-size: 30px;
  }

  .Body__Paragraph {
    margin-right: 70%;

  }

  .Body__Button {
    display: none;
  }

  .Phone {
    position: relative;
    left: 20%;
    top: -40%;
  } */

}


@media (min-width:1025px) {

  .Body {
    margin-bottom: 25em;
  }

  

  /* .Home__Desktop {
    display: block;
  }

    .Home__Tablet {
      display: none;
  }

  .Home__Mobile {
    display: none;
} */
}