/* phones */


  
    .Home__DesktopImg {
      display: none;
    }
  
    .Home__Design__Image__Desktop__Container{
      margin-top: 30%;
    }

  @media (min-width:991px) {
    .Home__TabletImg {
      display: none;
    }
    
    .Home__DesktopImg {
      display: block;
    }

    .Home__Desktop__Images {
        margin-top: min(-15%, -20%);
        display: grid; 
        /* grid-column-gap: min(10%, 10%);  */
        grid-gap: max(.2em, 1em);
        grid-template-columns: auto auto ;
    }

    .Desktop__Web__Design img {
      background-color: blueviolet;
      width: 90%;
      border-radius: 15px;
      margin-left: 1.3em;
      filter: brightness(50%);
    }


    .Desktop__App__Design img {
      border-radius: 15px;
      width: 90%;
      filter: brightness(50%);
      position: relative;
    }

    .Desktop__Graphic__Design img{
      width: 90%;
      border-radius: 15px;
      margin-top: -.39em;
      filter: brightness(50%);
    }

        .Desktop__Web__Design  {
            grid-column: 1/2;
            grid-row: 1/3;
            margin-left: 2.1em;
        }
      } 
  
     

    /* .Home__Desktop__Images  {
        margin-top: -50%;

        margin: 0;
        padding: 0;
        display: grid;
        gap: 26.3%;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    } */


/*    
    .Home__Desktop__Images {
      display: flex;
    } */
  
    /* .Home__Desktop__Image__Left {
      margin-left: 5%;
    }
  
    .Home__Desktop__Image__Right {
      margin-left: 5%;

    }

    .Desktop__Web__Design  {
        margin-top: -30%;
    }
  
    .Desktop__App__Design {
      margin-top: -30%;
      
    }
  
    .Desktop__Graphic__Design {
      position: relative;
      margin-top: -9.5%;
      
    }  */
  
  
  