/* phones */

/* .HomePage-design-card {
  display: grid;

} */

#web {
  margin: auto;
  
  /* background-image: url('./images/mobile-web-design.jpg'); */
  /* background-image: url("../../images/mobile-web-design.jpg"); */
    /* background-image: url('./images/mobile-web-design.jpg'); */
    /* background-size: cover;
    background-repeat: no-repeat; */
  /* background-image: url('https://raw.githubusercontent.com/Excerity/Designo/main/client/public/images/mobile-web-design.jpg'); */
} 

.Design-Container {
  margin-top: 20em;
  margin-bottom: 20em;
}

.Design-Container > img {
  /* margin-top: 30em; */
  margin-top: 10em;
  background-repeat: no-repeat;


}

  /* .Home__MobileImg { */
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(50%); */
    /* background:rgba(231,129,107,.7) !important;  */
    /* filter: brightness();
    border-radius: 15px;
    transition: all .3s ease-in-out;
  } */

  /* .Home__Tablet {
    display: none;
  } */


     /* .Home__Mobile {
    background: url("../../public/images/mobile-web-design.jpg");
  }
      */
 
/* .Home__Mobile img:hover 
 {
  cursor: pointer;
}  */

/* .Overlay:hover > img {
  background:rgba(231,129,107,.7) !important; 
}  */

/* tablets */
/* @media (min-width: 768px) {

.Home__Desktop__Images {
  margin-top: 10em;
}

  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }

  .Home__Tablet {
    display: inline;
    margin-bottom: -15em;
  }
} */

/* @media (min-width: 801px) {
  .Home__TabletImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Home__MobileImg {
    display: none;
  }
 
}
  @media (min-width: 991px) {
    .Home__TabletImg {
      display: none;
    }
  
      
  } */




