
  .Body {
    background-color: #e7816b;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 7em;
  }

  .HomePage__Phone__Desktop {
    display: none;  
  }

  .Phone {
     /* width: 550px; */
    /* height: 500px;  */
    /* width: 800px; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: -5em;
  }


 .Phone img {
  margin: 0 0 -370px 0;

}


  .Body__Header {
    padding-top: 2em;
    margin-top: 1.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    /* font-size: 30px; */
    font-weight: 500;
    font-size: clamp(33px, 3vw, 40px);
  }

  .Body__Header p{
    margin-bottom: -25px;
  }

  .Body__Paragraph__Mobile {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
  }

  .Body__Paragraph__Tablet {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    display: none;
  }


  .Body__Paragraph__Desktop {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
    font-family: 'Jost', sans-serif;  
    display: none;
    font-size: clamp(15px, 1.72vw, 21.2px);
  }

  /* .Body__Button {
    top: 2em;
    width: 14em;
    height: 4em; 
    left: 10em;
    border-radius: 10px;
    
  }

  .Material__Ui__Button__HomePage {
    display: block;
  align-items: center;
  justify-content: center;
  } */

.HomePage-Button-Container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 1.5em;
}

  .HomePage__Button {
    width: 12em;
    height: 4em;
    border-radius: 6px;
    background-color: #ffffff;
    color: black;
    border: #ffffff;
  }

  .HomePage__Button > p {
    text-align: center;
     font-size: 15px;
     text-transform: uppercase;
     font-weight: 500;
  }

 @media (min-width: 600px) { 
 

  .Body {
    height: auto;
  }


/* .Phone {
  display: block;
  margin-left: 30%;
  margin-right: auto;
  bottom: 2em;
} */
/* 
  .Home__Phone__Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 2em;

  } */

  .Body__Paragraph__Mobile {
    display: none;
  }

  .Body__Paragraph__Tablet {
    display: block;
  }

  


  
  /* .Body__Button {
  
    left: 21em;
    width: 25%;

  } */

  /* .Home__Mobile {
    display: none;
  }

  .Home__Tablet {
    display: block;
  } */
}


@media (min-width:801px) {
/* 
  .Body {
    height: 50em;
  }

  .Body__Header {
   margin-right: 70%;
   font-size: 30px;
  }

  .Body__Paragraph {
    margin-right: 70%;

  }

  .Body__Button {
    display: none;
  }

  .Phone {
    position: relative;
    left: 20%;
    top: -40%;
  } */

}


@media (min-width:991px) {

  .HomePage__Container{
    margin-right: 19em;
  }

  .Body {
    margin-bottom: 15em;
    height: 43.5em;
    /* background-image: ; */
  }

  .Phone__Image__Container {
    /* width: 240%; */
  } 
 
  .Phone {
    overflow: visible;
    /* margin-left: 43em; */
    margin-left: 120%;
  }

 .HomePage__Phone__Desktop {}

 .Phone img {
  margin-top: -28em;
} 


  .Body__Paragraph__Tablet {
    display: none;
  }

  .Body__Paragraph__Desktop {
    display: block;
  }  

  .Body__Header {
    margin-right: 5em;
  }

  .HomePage__Button {
    margin-top: 1.5em;
    margin-left: 2.9em;
  }


  .First__Line__Header__HomeBody {
    margin-left: .8em;
  }

  .Second__Line__Header__HomeBody {
    margin-right: .8em;
  }

  .Third__Line__Header__HomeBody {
    margin-right: .8em;
  }

  .Home__Page__Button__Container {
    margin-right: 18em;
  }

  .First__Line__HomeBody__Desktop{
    margin-right: 2em;
  }



  .Third__Line__HomeBody__Desktop {
    margin-right: 3.3em;
  }
  
}


@media (min-width:1051px) {

  .Phone {

    margin-left: 115%;
    
  }
}


@media (min-width:1107px) {

  .Phone {

    margin-left: 113%;
    
  }
}



@media (min-width:1161px) {

  .Phone {

    margin-left: 111%;
    
  }
}


@media (min-width:1243px) {

  .Phone {

    margin-left: 109%;
    
  }
}


@media (min-width:1401px) {

  .Phone {

    margin-left: 108%;
    
  }
}

@media (min-width: 768px) {
 .Body {
    width: 90%; 
    border-radius: 20px; 

 }
}

/* 

@media (min-width:1051px) {

  .HomePage__Container{
    margin-right: 22em;
  }
 
}

@media (min-width:1031px) {
  .Phone {
    margin-left: 45em;
  }
}

@media (min-width:1101px) {

  .HomePage__Container{
    margin-right: 24em;
  }
  .Phone {
    margin-left: 46.5em;
  }
}

@media (min-width:1141px) {
 
  .Phone {
    margin-left: 48.5em;
  }
}

@media (min-width:1151px) {

  .HomePage__Container{
    margin-right: 27em;
  }

}

@media (min-width:1171px) {
 
  .Phone {
    margin-left: 49.5em;
  }
}


@media (min-width:1201px) {

  .HomePage__Container{
    margin-right: 29em;
  }
  .Phone {
    margin-left: 52em;
  }
}

@media (min-width:1251px) {

  .HomePage__Container{
    margin-right: 31em;
  }
  .Phone {
    margin-left: 53.5em;
  }
}

@media (min-width:1263px) {
 
  .Phone {
    margin-left: 53.5em;
  }
}

@media (min-width:1273px) {
 
  .Phone {
    margin-left: 54.5em;
  }
}



@media (min-width:1301px) {

  .HomePage__Container{
    margin-right: 35em;
  }
  .Phone {
    margin-left: 56.5em;
  }

}

@media (min-width:1331px) {

  .Phone {
    margin-left: 57.5em;
  }

}


@media (min-width:1351px) {

  .HomePage__Container{
    margin-right: 38em;
  }
  .Phone {
    margin-left: 59.5em;
  }

}

@media (min-width:1371px) {

  .Phone {
    margin-left: 61.5em;
  }

}

@media (min-width:1401px) {

  .HomePage__Container{
    margin-right: 40em;
  }
  .Phone {
    margin-left: 63.5em;
  }

}

@media (min-width:1431px) {

  .Phone {
    margin-left: 64.5em;
  }

}

@media (min-width:1451px) {

  .HomePage__Container{
    margin-right: 43em;
  }
  .Phone {
    margin-left: 65.5em;
  }

}


@media (min-width:1471px) {

  .HomePage__Container{
    margin-right: 43em;
  }
  .Phone {
    margin-left: 66.5em;
  }

}


@media (min-width:1501px) {

  .HomePage__Container{
    margin-right: 46em;
  }
  .Phone {
    margin-left: 67.5em;
  }

}

@media (min-width:1531px) {

.Phone {
  margin-left: 68.5em;
}
}

@media (min-width:1551px) {

  .HomePage__Container{
    margin-right: 50em;
  }
  .Phone {
    margin-left: 69.5em;
  }
}

@media (min-width:1577px) {

  .Phone {
    margin-left: 71.5em;
  }
}


@media (min-width:1601px) {

  .HomePage__Container{
    margin-right: 53em;
  }
  .Phone {
    margin-left: 73em;
  }
}

@media (min-width:1651px) {

  .HomePage__Container{
    margin-right: 56em;
  }
  .Phone {
    margin-left: 74.5em;
  }
}

@media (min-width:1671px) {

  .Phone {
    margin-left: 75.5em;
  }
}

@media (min-width:1701px) {

  .HomePage__Container{
    margin-right: 59em;
  }

  .Phone {
    margin-left: 78.5em;
  }
}


@media (min-width:1731px) {

  .Phone {
    margin-left: 80.5em;
  }
}


@media (min-width:1761px) {
  .Phone {
    margin-left: 82.5em;
  }
}

@media (min-width:1801px) {
  .Phone {
    margin-left: 84.5em;
  }
}

@media (min-width:1831px) {
  .Phone {
    margin-left: 85.5em;
  }
}

@media (min-width:1871px) {
  .Phone {
    margin-left: 87.5em;
  }
}

@media (min-width:1901px) {
  .Phone {
    margin-left: 88.5em;
  }
} */