  .MidPage {
    margin-top: 5em;
    margin-bottom: 10em;
  }

  .MidPage__Picture {
    /* display: absolute; */
    margin-top: -12em;
    margin-left: 8em;
    /* margin-bottom: 3em; */
  }

  .HomeCircle {
    display: block;
    width: 30%;
    margin: auto;
  }

  .MidPage__Paragraph {
    text-align: center;
    margin-bottom: 5em;
  }

  .MidPage__Paragraph22 {
    display: none;
  }

  .MidPage__Paragraph-Desktop {
    display: none;
  }

  .MidPage__Picture__Title {
    margin-bottom: .7em;
    margin-top: .7em;
    font-weight: 500;
    letter-spacing: 5px;
  }



@media (min-width: 768px) {
  .MidPage__Container {
    margin-bottom: 5em;
  }

  .HomeCircle {
    position: relative;
    /* right: 70%; */
    margin-right: 60%;
    top: 2em;
    
  }

  .hid {
     padding-top: 2em;
  }

  .MidPage__Picture {
    position: relative;
    right: 30%;
    top: 2em;
  }

  .MidPage__Paragraph {
    display: none;
  }

  .MidPage__Paragraph22 {
    display: block;
    margin-left: 40%;
    margin-top: -9em;
  }
}

@media (min-width: 1200px) {
    .MidPage {
     display: flex;
     justify-content: space-evenly;
     flex-wrap: nowrap;
     max-width: 95vw;
     margin-top: 10em;
     margin: 5em auto;
   }

  .MidPage__Paragraph {
      display: none;
   }

   .MidPage__Paragraph22 {
    display: none;
  
  }

  .MidPage__Paragraph-Desktop {
    display: block;
    line-height: 26px;
    position: relative;
    /* left: 7%; */
  }

  .MidPage__Paragraph-Desktop > p {
    text-align: center;
  }

  .MidPage__Picture {
    position: relative;
    right: 8%;
  }

  .HomeCircle {
    position: relative;
    /* left: 10%; */
  }

  .MidPage__Picture__Title {
    position: relative;
    left: 20%;
    margin-top: 2em;
  } 

  .Friendly-Desktop-Title {
      left: 28%;
  }



}