.Desc__Desktop__Container_Graphic {
    position: absolute;
    margin-left: 40em;
    margin-top: -9em;
    color: white;
    text-transform: uppercase;
}

h1 {
    font-size: 30px; 
}

.HomePage__Desktop__Img__Desc__H2 {
    font-size: 15px;
    letter-spacing: 3px;
}

