
.AboveFooter {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #e7816b;
  height: 30em;
  z-index: 3;
  border-radius: 15px;
  background-image: url('../../images/bg-pattern-small-circle.svg');
  background-size: 280px;
  background-position: 350% 300%;
}

.AboveFooter__Paragraph__Desktop {
 display: none;
}

.AboveFooter__Header {
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  font-weight: 500;
} 

.AboveFooter__Paragraph {
  text-align: center;
  color: #ffffff;
  padding-top: 1em;
}

.Button__Container {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding-top: 2em;
}

.Button__Above__Footer {
  background-color: #ffffff; 
  color: black;
  border: #ffffff;
  width: 13em;
  height: 4em;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  transition: all .3s ease-in-out;
}

.Button__Above__Footer:focus,
.Button__Above__Footer:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: #ffad9b;
  color: #ffffff;
  opacity: 1;
}


  .AboveFooter__Text__Container {
    display: flex;
    flex-direction: column;
    padding-top: 4em;
  }

  @media (min-width: 768px) {
    .AboveFooter {
      height: 22em;
      margin-bottom: 5em;
    }

    .Button__Above__Footer {
      margin-top: -.7em;
    }

    .AboveFooter__Header {
      margin-top: .5em;
    }
    
  .AboveFooter__Paragraph {
    display: none;
  }

  .AboveFooter__Paragraph__Desktop {
    text-align: center;
    display: block;
    color: #ffffff;
    font-size: 1.1em;
   }

   .AboveFooter__Text__Container {
    padding-top: 1em;
  }
  }


@media (min-width:1200px) {

.AboveFooter {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 5em;
}

  .AboveFooter__Paragraph__Desktop,
  .AboveFooter__Header  {
      text-align: left;
      padding-left: 12%;
  }

  /* .AboveFooter__Text__Container{
      margin-top: 20em;
  } */

  .AboveFooter__Header  {
    margin-top: 2em;
  }
  .Button__Container {
    display: flex;
    padding-top: 2em;
    margin-left: 70%;
    margin-top: -10em;
  }

}