@media (min-width: 320px) {

.AboveFooter {

  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #e7816b;
  height: 27em;
  z-index: 3;
  border-radius: 15px;
}

.AboveFooter__Header {
  text-align: center;
  font-size: 2em;
  color: #ffffff;
}

.AboveFooter__Paragraph {
  text-align: center;
  color: #ffffff;
}

.AboveFooter__Button {
  margin-left: 40%;
  margin-top: 1.8em;
}

.Material__UI__Button__Container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5em;
  margin-right: 33%;
}

.Material__Ui__Button__Above__Footer {

  width: 15em;
  height: 4em;

}

  .AboveFooter__Text__Container {
    padding-top: 5em;
  }

}