@media (min-width: 320px) {
  .Body {
    background-color: #e7816b;
    height: 70em ;
  }

  .Body__Header {
    padding-top: 4em;
    margin-top: 1.5em;
    text-align: center;
    color: #ffffff;
  }

  .Body__Paragraph {
    margin-top: 2.5em;
    text-align: center;
    color: #ffffff;
  }

  .Body__Button {
    margin-top: 1.8em;
    text-align: center;
    width: 22%;
    padding: 1em;
    margin-left: 40%;
  }

  .Desktop {
    display: none;
  }

  .Tablet {
    display: none;
  }
  /* 
  figure {

    overflow: hidden;
    margin: 0;
  }

  figure img {
    display: block;
    width: 100%;
  }

  .Phone img {
    margin: -22% 0;
  } */
}

@media (min-width: 600px) {
  .Body {
    width: 40em;
  }

  .Mobile {
    display: none;
  }

  .Tablet {
    display: block;
    /* margin-top: 30em; */
  }
}
