.MidPage {
  margin-top: 5em;
  margin-bottom: 10em;
}

.MidPage__Picture {
  /* display: absolute; */
  margin-top: -15em;
  margin-left: 8em;
}

.circle {
  margin-left: 30%;
}

.MidPage__Paragraph {
  text-align: center;
}
