  .nav {
    display: flex;
    margin-top: 3em;
    margin-left: 1.8em;
  }

  .Nav__Links {
    display: none;
  }
      
  .Hamburger {
    margin-left: 11em;
  }

  .Navbar__Logo {
    width: 50%;
  }


@media (min-width: 768px) {
  .Hamburger {
    display: none !important;
  }

  .nav {
    display: flex;
    margin-top: 3em;
    margin-left: 1.8em;
  }

  .Nav__Links {
    display: block;
    margin-left: 12em;
    font-family: 'Jost', sans-serif;  
    font-size: 16px;
  }

   /* Link {
    float: right;
  } */

  .link {
    padding-left: 2em;
    text-decoration: none;
  }

  .Navbar__Logo {
    width: 30%;
  }
}

@media (min-width: 1025px) {
  .Navbar__Logo {
    width: 30%;
  }
}

/* @media (min-width: 1025px)  {
  .Navbar__Logo {
    width: 20%;
  }
} */