
.Contact__Body {
  background-color: #e7816b;
  text-align: center;
  color: #ffffff;
  margin-bottom: 10em;
  margin-top: 3em;
  height: 46em;
  padding-top: 4em; 
}

.Contact-Body-Container {
  display: grid;
  grid-template-columns: 1fr;
}

 .Contact-Desktop-Para,
 .Contact-Tablet-Para
 {
  display: none;
}

.Contact-Title {
  font-weight: 500;
  font-size: 2rem;
  line-height: 25px;
  padding-bottom: 1em;
}


.Form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-direction: column;

}

.contact-textfield {
  color: #ffffff;
}


.Contact-Button > button {
  width: 12em;
  height: 4em;
  margin-top: 3em;
  background-color: white;
  border-radius: 10px;
}

.Contact-para {
  line-height: 25px;
}

#standard-basic{
  width: 100%;
}

@media (min-width: 768px) {
  .Contact__Body{
    width: 90%; 
    margin-right: auto;
    margin-left: auto; 
    border-radius: 15px;
    margin-top: 5emgit;
  }

  .Contact-Title {
    text-align: left;
    margin-left: 10%;
    font-size: 40px;
    font-weight: 500;
  }

  .Contact-Mobile-Para {
    display: none;
  }

  .Contact-Tablet-Para
  {
    display: flex;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2em;

  }

  .Contact-Button > button{
    margin-top: 4em;
    margin-left: 60%;
  }


}

@media (min-width: 1200px) {

  .Contact-Tablet-Para {
    display: none;
  }

 
  .Contact-Desktop-Para
  {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
  }
   .Contact__Body {
     height: 30em;
     max-width: 70rem;
   }
  .Contact-Body-Container {
    grid-template-columns: 1fr 1fr;
  }

   .Contact-Desktop-Para {
      margin-top: -13em;
      height: 100%;
      order: 1;
      padding-right: 1px;
      line-height: 26px;
  } 

  .Contact-Title {
    padding-top: 1.5em;
    font-size: 3rem
  }

  .Contact-Button > button{
    margin-top: 3em;
  }

}