
.Contact__Body {
  background-color: #e7816b;
  text-align: center;
  color: #ffffff;
  margin-bottom: 3em;
  margin-top: 3em;
  height: 50em;
  padding-top: 7em;
}

.Contact-Container {
  /* padding-top: 8em; */
}

 .Contact-Desktop-Para {
  display: none;
}


.Form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Form > TextField {
  color: #ffffff;
}

.Contact-Button > button {
  width: 12em;
  height: 4em;
  margin-top: 3em;
  background-color: white;
}
/* .Button {
  width: 2em;
} */

.Contact-para {
  margin: 20px ;
  line-height: 25px;
}

#standard-basic{
  width: 100%;
}

/* input {
  width: 90vw;
} */

@media (min-width: 768px) {
  .Contact__Body {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 15px;
  }

  .Contact-Title {
    text-align: left;
    margin-left: 10%;
    font-size: 40px;
    font-weight: 500;
  }

  .Contact-Mobile-Para {
    display: none;
  }

  .Contact-Desktop-Para {
    display: block;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 2em;
  }

  .Contact-Button > button{
    /* text-align: right; */
    margin-left: 40%;
  }


}