@media (min-width: 320px) {
  .About_Desktop {
    display: none;
  }

  .About_Tablet {
    display: none;
  }

  .About_Mobile {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    max-width: 100%;
    height: auto;
  }
}

@media (min-width: 600px) {
  .About_Mobile {
    display: none;
  }

  .About_Tablet {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 1181px) {

}