.About {
  display: block;
  /* margin-top: -10em; */
  background-color: #fdf3f0;
  /* height: 25em; */
  text-align: center;
  padding-top: 3em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
}

.About__FirstHeader {
  margin-bottom: 2em;
}

.About__Text {
  height: 20em;
}

.About__Title {
  color: #e7816b;
  padding-bottom: 1.5em;
}

@media (min-width:1025px) { 
  .About {
    height: 40em;
    margin-right: 15%;
    margin-left: 15%;
    
  }
}