.About {
  display: block;
  margin-top: -10em;
  background-color: #fdf3f0;
  height: 35em;
  text-align: center;
  padding-top: 3em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.625rem;
  padding: 5rem 1.5rem;
}

#Mobile-Read-Deal-Image {
  margin-bottom: 10em;
}

.About__Para {
  font-size: 17px;
    margin-bottom: 2em;
  color: #333136;
}

.About__Text {
  height: 20em;
}

.About__Title > h2{
  color: #e7816b;
  padding-bottom: 1.5em;
  font-size: 2rem;
  font-weight: 500;
}


@media (min-width:1025px) { 
  .About {
    height: 40em;
    margin-right: 15%;
    margin-left: 15%;
    
  }
}