
  .Body__About {
    background-color: #e7816b;
  height: 30em;
   text-align: center;
   color: #ffffff;
  }

  .body__about__title > h2 {
    font-weight: 500;
    font-size: 32px;
    padding-top: 5rem;
    letter-spacing: 2px;
    padding-bottom: 1em;
  }

  .Body__Paragraph__About__Mobile {
    font-size: 17px;

  }

  .Body__Paragraph__About__Tablet {
    display: none;
    font-size: 20px;
  }

  .Body__Paragraph__About__Desktop {
    display: none;
  }

  @media (min-width: 768px) {

.Body__About {
  margin: auto 4.3%;
  border-radius: 0px 0px 15px 15px;
  height: 24em;
}

    .Body__Paragraph__About__Tablet{
      display: block;
      font-size: 16px;
    }
    .Body__Paragraph__About__Mobile {
      display: none;
    }
    .Body__Paragraph__About__Desktop {
      display: none;
    }
    .body__about__title {
      margin-left: 0%;
    }
  }

  @media (min-width:1025px) {

    .Body__Paragraph__About__Tablet{
      display: none;
    }
    .Body__Paragraph__About__Mobile {
      display: none;
    }

    .Body__Paragraph__About__Desktop {
      display: block;
    }


    .Body__About {
      margin-left: 8%;
      margin-right: 9%;
      padding-top: 7%;
      }
  }


