/* @media (min-width: 320px) {

.Desktop_World_Class_Image,
.Tablet_World_Class_Image       
 {
    display: none;

}

.Mobile_World_Class_Image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    max-width: 100%;
    height: auto;
}
}

@media (min-width: 600px) {

.Mobile_World_Class_Image {
    display: none;
}
    .Tablet_World_Class_Image {
        display: block;
    }
}

@media (min-width: 1025px) {
    .Tablet_World_Class_Image {
        display: none;
    }

    .Desktop_World_Class_Image {
        display: block;
        float: left !important;
    }
    
}
 */
